* {
    box-sizing: border-box;
}
#ter {
    background-color: rgb(247, 112, 112);
    max-height: 1500px;
}
/*termometria*/
#termometria {
    background: linear-gradient(to top, rgba(255,0,0,0), red);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}
.Título {
    text-align: center;
    letter-spacing: 2px;
    color: yellow;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    text-shadow: 4px 4px 5px rgb(66, 2, 2);
}
.fis-termo {
    margin: 225px;
    margin-top: 250px;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
    border-bottom: double black;
}
.Termômetro {
    float: left;
    position: relative;
    top: 0;
    right: 0;
}
/*Temperatura*/
.escalas-termométricas {
    margin: 225px;
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 50px;
    color: black;
    font-size: 20px;
    border-bottom: double black;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    border-top: dashed black; border-bottom: dashed black;
    color: yellow;
    font-size: 50px;
    background: brown;
    position: relative;
    left: 0;
    right: 0;
    box-shadow: 4px 4px 4px rgb(139, 63, 63);
}
h3 {
    border-bottom: dotted black;
    color: rgb(145, 58, 0);
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}
.FQ {
    float: right;
}
h4 {
    text-decoration: underline;
    font-size: 20px;
}
.tFQ {
    float: left;
}
/*Escalas Termométricas*/
.temperatura {
    margin: 225px;
    margin-top: 0;
    padding-top: 15px;
    margin-bottom: 50px;
    color: black;
    font-size: 20px;
    border-bottom: double black;
}
.esc {
    display: block;
    margin: 0 auto;
}
span {
    font-size: 15px;
}
li {
    list-style:circle;
}
