* {
    box-sizing: border-box;
}
#ter {
    background-color: rgb(247, 112, 112);
    max-height: 1500px;
}
/*térmica*/
#térmica {
    background: linear-gradient(to top, rgba(255,0,0,0), red);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}
.Título {
    text-align: center;
    letter-spacing: 2px;
    color: yellow;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 50px;
    text-shadow: 4px 4px 5px rgb(66, 2, 2);
}
.fis-ter {
    margin: 225px;
    margin-top: 225px;
    margin-bottom: 50px;
    color: black;
    font-size: 20px;
    border-bottom: double black;
}
.Molécula {
    float: right;
    position: relative;
    top: 0;
    right: 0;
}
.opções-ter {
    margin: 225px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: brown;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgb(78, 20, 20);
}
button {
    background: rgb(83, 1, 5);
    height: 40px;
    width: 150px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    box-shadow: 5px 5px 4px rgb(39, 0, 2);
    font-family: "Merriweather", serif;
    font-size: 12px;
    transition: all 0.5s linear;
    border-radius: 10px;
}
button:hover {
    height: 45px;
    width: 165px;
    font-size: 15px;
    color: red;
}